{% extends 'base.html' %}
{% block content%}


<div class="container-fluid">
        <div class="jumbotron">
            <h1>Read blog posts posted by our writers and comment if interested</h1>
            <a class="btn btn-light btn-xl sr-button" href="{{url_for('main.new_blog')}}">Post Blog</a>
        </div>
    </div>

<!-- Body Section -->
<div class="container wrapper">
    <div class="row">
        {% for blog in blogs%}
        <div class="col-md-12 mb-3">
        <div class="card border-dark flex-fill">
                <div class="card-header">
                    {{blog.blog_title}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">posted by {{blog.author}}</h5>
                  <p class="card-text">{{blog.story|truncate(500)}}</p>
                  <a href="#" class="btn btn-primary">comment</a>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
